.education {
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.education h2 {
    font-size: 2em;
    color: #333;
    text-align: start;
}

.education-item {
    padding: 10px;
    border-left: 4px solid #4CAF50;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.university {
    font-size: 1.1em;
    color: #555;
    font-style: italic;
}

.duration {
    font-size: 0.9em;
    color: #777;
}

.description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}