.overview {
    background-color: #ffffff;
    padding: 20px;
    max-width: 100%;
    margin: 5px auto;
    font-family: 'Arial', sans-serif;
}

.overview h2 {
    font-size: 2em;
    color: #000000;
    text-align: start;
}


.overview p {
    font-size: 1.1em;
    color: #000000;
    line-height: 1.6;
    text-align: start;

    border-left: 4px solid #4CAF50;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0 5px 10px;
}