.experience {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.experience h2 {
    font-size: 2em;
    color: #333;
    text-align: start;
    margin-bottom: 20px;
}

.stage {
    margin-bottom: 20px;
}

.experience h3 {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 10px;
}

.date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.experience p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.game-links li, .skills li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.game-links li span {
    font-weight: bold;
}

.stage1, .stage2{
    border-left: 4px solid #4CAF50;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0 5px 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}